[Wallpaper]
File=crystal_fire.png
Name=Crystal Fire
Name[de]=Crystal Feuer
Name[en_GB]=Crystal Fire
ImageType=pixmap
Author=From Kubuntu Maverick, modified by Timothy Pearson
