[Wallpaper]
File=ethais.png
Name=Ethais
Name[pa]=ਈਥਾਸ
Name[sr@ijekavianlatin]=Etais
Name[sr@latin]=Etais
Name[x-test]=xxEthaisxx
Name[zh_CN]=舒展
ImageType=pixmap
Author=Nuno Pinheiro

